@charset "UTF-8";
/*------------   Colores   ------------*/
/*------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;600;700&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Dancing+Script:wght@400;500;600;700&family=Noto+Serif:ital,wght@1,400;1,500&display=swap");
main .salon-belgrano div .salon-belgrano-contenedor, main .salon-palermo div .salon-palermo-contenedor, main .salon-tigre div .salon-tigre-contenedor {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 300px; }

/*------------   FUENTES   ------------*/
/*------------   RESET   ------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #9b969e; }

body a {
  color: black;
  text-decoration: none; }

body ul {
  list-style: none; }

/*------------   TIPOGRAFIAS GENERALES   ------------*/
.titulos-secundarios {
  font-family: 'Dancing Script', cursive;
  font-size: 70px;
  font-weight: 700;
  color: black; }

.titulos {
  font-family: 'Dancing Script', cursive;
  font-size: 70px;
  font-weight: 700;
  color: black; }

.lista-servicios {
  font-family: 'Cormorant Garamond', serif;
  font-size: 30px;
  font-weight: 400;
  padding: 20px;
  color: black; }

.parrafos {
  font-family: 'Cormorant Garamond', serif;
  font-size: 30px;
  font-weight: 500;
  font-style: italic;
  color: black; }

.centrado {
  text-align: center; }

/*------------   CLASES BOOSTRAP   ------------*/
.titulo-nav {
  font-family: 'Dancing Script', cursive;
  font-size: 70px;
  font-weight: 700; }
  .titulo-nav span {
    color: #D36135; }

.paginas-nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: end;
  margin: 10px; }

/*---   HERO   ---*/
main .hero {
  border-bottom: 5px black solid;
  width: 100%;
  height: 80vh;
  background-image: url(../img/catering.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  main .hero .titulos {
    padding: 50px;
    color: black; }
  main .hero a {
    font-family: 'Cormorant Garamond', serif;
    font-size: 35px;
    font-weight: 500;
    font-style: italic;
    background-color: rgba(255, 255, 255, 0.623);
    border: 3px black solid;
    padding: 15px; }
    main .hero a:hover {
      color: #D36135; }

main .servicio {
  background-color: #cdc5b4;
  border: 3px black solid;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  align-items: normal;
  margin: 40px; }
  main .servicio div {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: normal;
    align-items: center; }
    main .servicio div h2 {
      text-align: center; }
  main .servicio .servicio-imagen img {
    border-left: 3px black solid;
    width: 100%;
    height: 100%;
    object-fit: cover; }

main .destacados {
  background-color: #cdc5b4;
  border: 3px black solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: normal;
  align-items: center;
  margin: 40px; }
  main .destacados h2 {
    text-align: center; }
  main .destacados .centrado {
    font-family: 'Cormorant Garamond', serif;
    font-size: 30px;
    font-weight: 400;
    padding: 20px; }

main .experiencias {
  background-color: #cdc5b4;
  border: 3px black solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: normal;
  align-items: normal;
  margin: 40px; }
  main .experiencias .columnas {
    display: flex;
    justify-content: center; }
    main .experiencias .columnas .columna div {
      padding: 20px; }
      main .experiencias .columnas .columna div h3 {
        background-color: #9b969e;
        font-family: 'Noto Serif', serif;
        font-size: 35px;
        font-style: italic;
        font-weight: 400; }
      main .experiencias .columnas .columna div p {
        font-family: 'Caveat', cursive;
        font-size: 30px;
        font-weight: 600; }

footer {
  border-top: 3px black solid;
  background-color: #cdc5b4;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  footer div {
    display: flex;
    flex-direction: column;
    justify-content: normal;
    align-content: center;
    align-items: center;
    padding: 20px; }
    footer div p {
      font-family: 'Cormorant Garamond', serif;
      font-size: 30px;
      font-weight: 500;
      font-style: italic;
      text-align: center; }
    footer div .redes {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      footer div .redes h4 {
        font-family: 'Dancing Script', cursive;
        font-size: 30px;
        font-weight: 700;
        text-align: center; }
      footer div .redes ul {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px; }
        footer div .redes ul li a img {
          height: 62px;
          width: 62px;
          padding: 10px; }
  footer p {
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    padding-bottom: 20px; }

main .galeria {
  margin: 40px; }
  main .galeria h2 {
    text-align: center;
    background-color: #cdc5b4;
    font-size: 50px; }
  main .galeria .galeria-contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 250px;
    gap: 10px;
    margin-bottom: 30px; }
    main .galeria .galeria-contenedor div img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border: 3px black solid; }
    main .galeria .galeria-contenedor .img-1 {
      grid-column: span 2;
      grid-row: span 2; }
    main .galeria .galeria-contenedor .img-2 {
      grid-row: span 2; }
    main .galeria .galeria-contenedor .img-3 {
      grid-row: span 2; }
    main .galeria .galeria-contenedor .img-4 {
      grid-row: span 3; }
  main .galeria .galeria-contenedor-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 250px;
    gap: 10px; }
    main .galeria .galeria-contenedor-2 div img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border: 3px black solid; }
    main .galeria .galeria-contenedor-2 .img-2-1 {
      grid-row: span 2; }
    main .galeria .galeria-contenedor-2 .img-2-2 {
      grid-column: span 2; }
    main .galeria .galeria-contenedor-2 .img-2-3 {
      grid-column: span 2;
      grid-row: span 2; }

header .navbar {
  background-color: #cdc5b4;
  border-bottom: 3px black solid; }
  header .navbar .collapse .botones-nav .nav-item {
    background-color: #aaa498;
    font-family: 'Cormorant Garamond', serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    padding: 1px 10px 1px 10px; }
    header .navbar .collapse .botones-nav .nav-item:hover {
      background-color: #D36135; }
  header .navbar .collapse .paginas-nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: end;
    margin: 10px; }

main .titulos {
  font-size: 100px; }

main .salon-belgrano {
  background-color: #cdc5b4;
  margin: 40px;
  border: 3px black solid; }
  main .salon-belgrano h2 {
    text-align: center; }
  main .salon-belgrano div p {
    margin: 20px; }
  main .salon-belgrano div .salon-belgrano-contenedor {
    margin: 20px;
    gap: 20px; }
    main .salon-belgrano div .salon-belgrano-contenedor img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border: 3px black solid; }

main .salon-palermo {
  background-color: #cdc5b4;
  margin: 40px;
  border: 3px black solid; }
  main .salon-palermo h2 {
    text-align: center; }
  main .salon-palermo div p {
    margin: 20px; }
  main .salon-palermo div .salon-palermo-contenedor {
    margin: 20px;
    gap: 20px; }
    main .salon-palermo div .salon-palermo-contenedor img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border: 3px black solid; }

main .salon-tigre {
  background-color: #cdc5b4;
  margin: 40px;
  border: 3px black solid; }
  main .salon-tigre h2 {
    text-align: center; }
  main .salon-tigre div p {
    margin: 20px; }
  main .salon-tigre div .salon-tigre-contenedor {
    margin: 20px;
    gap: 20px; }
    main .salon-tigre div .salon-tigre-contenedor img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border: 3px black solid; }

main section .bodas-contenedor {
  background-color: #cdc5b4;
  border: 3px black solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: normal;
  align-items: center;
  margin: 40px; }
  main section .bodas-contenedor h2 {
    text-align: center; }
  main section .bodas-contenedor p {
    text-align: center;
    font-size: 35px; }
  main section .bodas-contenedor .bodas-img {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: normal;
    align-items: center; }
    main section .bodas-contenedor .bodas-img img {
      object-fit: cover;
      width: 100%;
      height: 100%; }
    main section .bodas-contenedor .bodas-img ul {
      margin: 0px; }
      main section .bodas-contenedor .bodas-img ul li {
        font-size: 50px; }

main section .cumpleaños-contenedor {
  background-color: #cdc5b4;
  border: 3px black solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: normal;
  align-items: center;
  margin: 40px; }
  main section .cumpleaños-contenedor h2 {
    text-align: center; }
  main section .cumpleaños-contenedor p {
    text-align: center;
    font-size: 35px; }
  main section .cumpleaños-contenedor .cumpleaños-img {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-content: normal;
    align-items: center; }
    main section .cumpleaños-contenedor .cumpleaños-img img {
      height: 100%;
      width: 100%;
      object-fit: cover; }
    main section .cumpleaños-contenedor .cumpleaños-img ul {
      margin: 0px; }
      main section .cumpleaños-contenedor .cumpleaños-img ul li {
        font-size: 50px; }

main section .eventos-corporativos-contenedor {
  background-color: #cdc5b4;
  border: 3px black solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: normal;
  align-items: center;
  margin: 40px; }
  main section .eventos-corporativos-contenedor h2 {
    text-align: center; }
  main section .eventos-corporativos-contenedor p {
    text-align: center;
    font-size: 35px; }
  main section .eventos-corporativos-contenedor .eventos-corporativos-img {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: normal;
    align-items: center; }
    main section .eventos-corporativos-contenedor .eventos-corporativos-img img {
      height: 100%;
      width: 100%;
      object-fit: cover; }
    main section .eventos-corporativos-contenedor .eventos-corporativos-img ul {
      margin: 0px; }
      main section .eventos-corporativos-contenedor .eventos-corporativos-img ul li {
        font-size: 50px; }

main section .fiesta-privada-contenedor {
  background-color: #cdc5b4;
  border: 3px black solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: normal;
  align-items: center;
  margin: 40px; }
  main section .fiesta-privada-contenedor h2 {
    text-align: center; }
  main section .fiesta-privada-contenedor p {
    text-align: center;
    font-size: 35px; }
  main section .fiesta-privada-contenedor .fiesta-privada-img {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-content: normal;
    align-items: center; }
    main section .fiesta-privada-contenedor .fiesta-privada-img img {
      height: 100%;
      width: 100%;
      object-fit: cover; }
    main section .fiesta-privada-contenedor .fiesta-privada-img ul {
      margin: 0px; }
      main section .fiesta-privada-contenedor .fiesta-privada-img ul li {
        font-size: 50px; }

@media screen and (max-width: 1550px) {
  main section .bodas-contenedor .bodas-img {
    flex-direction: column; }
  main section .cumpleaños-contenedor .cumpleaños-img {
    flex-direction: column; }
  main section .eventos-corporativos-contenedor .eventos-corporativos-img {
    flex-direction: column; }
  main section .fiesta-privada-contenedor .fiesta-privada-img {
    flex-direction: column; } }

@media screen and (max-width: 1400px) {
  main .servicio {
    flex-direction: column; }
    main .servicio .servicio-imagen {
      border-top: 3px black solid;
      border-left: 0px;
      border-left: none; }
  main .galeria .galeria-contenedor .img-1 {
    grid-column: span 1;
    grid-row: span 1; }
  main .galeria .galeria-contenedor .img-2 {
    grid-row: span 1; }
  main .galeria .galeria-contenedor .img-3 {
    grid-row: span 1; }
  main .galeria .galeria-contenedor .img-4 {
    grid-row: span 2; }
  main .galeria .galeria-contenedor-2 .img-2-1 {
    grid-row: span 1; }
  main .galeria .galeria-contenedor-2 .img-2-2 {
    grid-column: span 1; }
  main .galeria .galeria-contenedor-2 .img-2-3 {
    grid-row: span 1;
    grid-column: span 1; }
  main .salon-belgrano div .salon-belgrano-contenedor {
    grid-template-columns: repeat(2, 1fr); }
  main .salon-palermo div .salon-palermo-contenedor {
    grid-template-columns: repeat(2, 1fr); }
  main .salon-tigre div .salon-tigre-contenedor {
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (max-width: 900px) {
  main .galeria .galeria-contenedor {
    grid-template-columns: repeat(2, 1fr); }
    main .galeria .galeria-contenedor .img-4 {
      grid-row: span 1; }
  main .galeria .galeria-contenedor-2 {
    grid-template-columns: repeat(2, 1fr); }
  main .experiencias .columnas {
    flex-direction: column; }
  main .salon-belgrano div .salon-belgrano-contenedor {
    grid-template-columns: 1fr; }
  main .salon-palermo div .salon-palermo-contenedor {
    grid-template-columns: 1fr; }
  main .salon-tigre div .salon-tigre-contenedor {
    grid-template-columns: 1fr; } }

@media screen and (max-width: 600px) {
  header .navbar .collapse .botones-nav {
    flex-direction: column; }
    header .navbar .collapse .botones-nav li {
      font-size: 25px;
      padding: 10px;
      margin: 15px; }
  main .galeria .galeria-contenedor {
    grid-template-columns: 1fr; }
    main .galeria .galeria-contenedor .img-4 {
      grid-row: span 1; }
  main .galeria .galeria-contenedor-2 {
    grid-template-columns: 1fr; } }

@media screen and (max-width: 500px) {
  main .hero .titulos {
    padding: 20px;
    font-size: 50px; }
  main .hero a {
    font-size: 30px; }
  main .servicio {
    margin: 40px 0px 40px 0px; }
    main .servicio div h2 {
      font-size: 50px; }
    main .servicio div p {
      font-size: 25px; }
    main .servicio .servicio-imagen img {
      border-left: 0px; }
  main .destacados {
    margin: 40px 0px 40px 0px; }
    main .destacados h2 {
      font-size: 50px; }
    main .destacados ul {
      font-size: 25px; }
  main .experiencias {
    margin: 40px 0px 40px 0px; }
    main .experiencias h2 {
      font-size: 50px; }
  main section .bodas-contenedor {
    margin: 0px; }
    main section .bodas-contenedor h2 {
      font-size: 45px; }
    main section .bodas-contenedor .bodas-img ul li {
      font-size: 30px; }
  main section .cumpleaños-contenedor {
    margin: 0px; }
    main section .cumpleaños-contenedor h2 {
      font-size: 45px; }
    main section .cumpleaños-contenedor .cumpleaños-img ul li {
      font-size: 30px; }
  main section .eventos-corporativos-contenedor {
    margin: 0px; }
    main section .eventos-corporativos-contenedor h2 {
      font-size: 45px; }
    main section .eventos-corporativos-contenedor .eventos-corporativos-img ul li {
      font-size: 30px; }
  main section .fiesta-privada-contenedor {
    margin: 0px; }
    main section .fiesta-privada-contenedor h2 {
      font-size: 45px; }
    main section .fiesta-privada-contenedor .fiesta-privada-img ul li {
      font-size: 30px; } }
